
/*===================================================================/
/========================== HEARDER =================================/
/===================================================================*/

/*bouton déroulant*/


.btn-navbar {
    display: none;
    float: right;
    padding: 12px 15px;
    margin-right: 5px;
    margin-left: 5px;
}

.icon-bar {
    display: block;
    width: 18px;
    height: 3px;
    background-color: #CECECE;
    -webkit-border-radius: 1px; /* Ce sont des préfixes, pour que les navigateurs */
       -moz-border-radius: 1px; /* prennent en charge les nouvelles propriétés. */
            border-radius: 1px;
}

.icon-bar + .icon-bar { /* Le + permet de sélectionner les éléments qui suivent */
    margin-top: 3px;
}

/*menu déroulant*/
header{
	background-color: orange;
	position: absolute;
	display: flex;
	justify-content: center;
	border-radius: 20px;
  	box-shadow: 1px 1px 12px #555;
	color:white;
	left: 0; 
  	right: 0; 
	margin-left: auto; 
  	margin-right: auto;
  	width: 70vw;
  	height: 10vh;
}
header img{
	margin-top: 1vh;
	margin-bottom:  1vh;
	margin: 1vw 2vh 1vw 2vh;
	position: absolute;
	left:2vw;
	border-radius: 50%;
	background-color: orange;
	width:5vw;
	height: auto;
	box-shadow: 1px 1px 12px #555;
}
 header img:hover{
	box-shadow: 1px 1px 12px #000;	
 }
#header{
	display: flex;
	justify-content: center;
}

#header div{
	font-family: Capture it;
}

.conteneur{
	width: 13vw;
}

#header h1{
	font-size: 1.5vw;
	text-align: center;
}

#header .menu_deroulant{
	display:none;
	position: absolute;
	z-index:2;
	background-color: orange;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	width: 13vw;
	height: 80%;
	border-radius:20px; 
}

#header div nav{
	font-size: 1vw;
}

/*bandeau sponsors
---------------------------------------------------*/
#bandeau_sponsors_accueil{
	padding: 5% 10% 5% 10%;
	background-color: white;
	text-align: center;
	color: black;
}

#bandeau_sponsors_accueil img{
	padding: 5% 20% 5% 20%;
}

#titre_info{
	text-align: center;
	font-family: Capture it;
	font-size: 3em;
}

#sponsor_princ_accueil img{
	width: auto;
}

#sponsor_sec_accueil{
	display: flex;
    justify-content: center;
    align-items: center;
}

#sponsor_sec_accueil img{
	width: 25vw;
}

#sponsor_ter_acceuil{
	display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#sponsor_ter_acceuil img{
	width: 15vw;
}

/*formulaire*/

a:link{
	text-decoration: none;
}

.btn{
display: flex;
justify-content: space-around;
align-items: center;
padding: 6px 12px;
font-size: 14px;
font-weight: normal;
text-align: center;
white-space: nowrap;
vertical-align: middle;
border: 1px solid transparent;
border-radius: 4px;
background-color: #609dd2;
border-color: #285e8e;
color: white;
font-family: segoeui;
}


/*background*/

body{
	background-image:url(../../library/img/accueil/fort_n&b.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 0;
}

/*icons*/

img[class="icon"]{
	height: 35px;
	width: auto;
	margin: auto;
	margin-left: 10px;
	margin-right: 10px;

}

img[class="icon small"]{
	height: 20px;
	width: auto;
	margin: auto;
	margin-left: 10px;
	margin-right: 10px;
}