/*===================================================================/
/============================= font =================================/
/===================================================================*/

@font-face {
	font-family: "Capture it";
	src: url('/library/font/capture it.ttf');
}

@font-face {
	font-family: "segoeuil";
	src: url('/library/font/segoeuil.ttf');
}

@font-face {
	font-family: "segoeui";
	src: url('/library/font/segoeui.ttf');
}

/*===================================================================/
/========================== HEARDER =================================/
/===================================================================*/

/*bouton déroulant*/


.btn-navbar {
    display: none;
    float: right;
    padding: 12px 15px;
    margin-right: 5px;
    margin-left: 5px;
}

.icon-bar {
    display: block;
    width: 18px;
    height: 3px;
    background-color: #CECECE;
    -webkit-border-radius: 1px; /* Ce sont des préfixes, pour que les navigateurs */
       -moz-border-radius: 1px; /* prennent en charge les nouvelles propriétés. */
            border-radius: 1px;
}

.icon-bar + .icon-bar { /* Le + permet de sélectionner les éléments qui suivent */
    margin-top: 3px;
}

/*menu déroulant*/
header{
	background-color: orange;
	position: absolute;
	display: flex;
	justify-content: center;
	border-radius: 20px;
  	box-shadow: 1px 1px 12px #555;
	color:white;
	left: 0; 
  	right: 0; 
	margin-left: auto; 
  	margin-right: auto;
  	width: 70vw;
  	height: 10vh;
}
header img{
	margin-top: 1vh;
	margin-bottom:  1vh;
	margin: 1vw 2vh 1vw 2vh;
	position: absolute;
	left:2vw;
	border-radius: 50%;
	background-color: orange;
	width:5vw;
	height: auto;
	box-shadow: 1px 1px 12px #555;
}
 header img:hover{
	box-shadow: 1px 1px 12px #000;	
 }
#header{
	display: flex;
	justify-content: center;
}

#header div{
	font-family: Capture it;
}

.conteneur{
	width: 13vw;
}

#header h1{
	font-size: 1.5vw;
	text-align: center;
	margin:0;
}

#header .menu_deroulant{
	display:none;
	position: absolute;
	z-index:2;
	background-color: orange;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	width: 13vw;
	height: 80%;
	border-radius:20px; 
}

#header div nav{
	font-size: 1vw;
}


/*===================================================================/
/========================== FOOTER ==================================/
/===================================================================*/

footer{
	float: left;
	width:100%; /*largeur du bloc*/
	margin:0 auto; /*marge externe nul avec centrage auto*/
	padding-top:5%; /*marge interne nul*/
	z-index: 20;
	background-color: black;
	color: white;
}
#up{
	font-size: 23px;
	background: url(../image/bg_footer.png) center center no no-repeat;
	width: 100%;
	margin: 0 auto;
}
#up ul{
	padding:5px 0 0 0;
	margin: 0;
}
#up ul li {
	list-style: none;
	line-height: 35px;
	border-top: 1px solid #737373;
}
#up ul li.dernier {
	border-bottom: 1px solid #737373;
}
#up ul li a {
	font-size: 12px;
	text-decoration: none;
	color: #737373;
}
#element{
	margin: 0 auto;
}
@media (min-width: 960px){
	#element{
		width: 100%;
		height: 183px;
		margin: 0 auto;
	}
}
#contact{
	width: 200px;
	margin:0 auto;
	padding-top: 27px;
}
@media (min-width: 960px){
	#contact{
		float: left;
		height: 183px;
		width: 23%;
		margin-left: 20%;
		padding-top: 27px;
	}
}
#contact ul.num{
	
	width: 200px;
	font-size: 12px;
	color: #737373
}
#contact ul.num img{
	margin-right: 10px;
}
#adress{
	width: 200px;
	margin: 0 auto;
	padding-top: 27px;
}
@media (min-width: 960px){
	#adress{
		float: left;
		height: 183px;
		width: 23%;
		padding-top: 27px;
	}
}
#adress ul {
	width: 200px;
	font-size: 12px;
	color: #737373;
}
#follow{
	width: 200px;
	margin:0 auto;
	padding-top: 27px;
	padding-bottom: 27px;
}
@media (min-width: 960px){
	#follow{
		float: left;
		height: 183px;
		width: 23%;
		padding-top: 27px;
		padding-bottom: 0;
	}
}
#follow ul.reseau{
	width: 200px;
	font-size: 12px;
}
#follow ul.reseau form{
	width: 200px;
	height: 35px;
	padding-top: 7px;
}
#follow ul.reseau img{
	margin-right: 10px;
}
#down{
	color: #737373;
	font-size: 10px;
	text-align: center;
	width: 320px;
	height: 120px;
	margin: 0 auto;
}
#down a{
	text-decoration: underline;
	color: white

}
#down #copyright {
	float: left;
	margin: 0 auto;
	width: 255px;
	height: 120px;
	padding-top: 23px;
	color: #737373;
	font-size: 11px;
}
#down #logomono {
	background: url(../image/logo_footer.png) no no-repeat;
	float: left;
	margin: 0 auto;
	width: 65px;
	height:120px;
}
#down span{
	color: white;
	text-decoration: underline;
}




/*===================================================================/
/====================== BANDEAU SPONSOR =============================/
/===================================================================*/

#bandeau_sponsors_accueil{
	padding: 5% 10% 5% 10%;
	background-color: white;
	text-align: center;
	color: black;
}

#bandeau_sponsors_accueil img{
	padding: 5% 20% 5% 20%;
}

#titre_info{
	text-align: center;
	font-family: Capture it;
	font-size: 3em;
}

#sponsor_princ_accueil img{
	width: auto;
}

#sponsor_sec_accueil{
	display: flex;
    justify-content: center;
    align-items: center;
}

#sponsor_sec_accueil img{
	width: 25vw;
}

#sponsor_ter_acceuil{
	display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#sponsor_ter_acceuil img{
	width: 15vw;
}

/*formulaire*/

a:link{
	text-decoration: none;
}

.btn{
display: flex;
justify-content: space-around;
align-items: center;
padding: 6px 12px;
font-size: 14px;
font-weight: normal;
text-align: center;
white-space: nowrap;
vertical-align: middle;
border: 1px solid transparent;
border-radius: 4px;
background-color: #609dd2;
border-color: #285e8e;
color: white;
font-family: segoeui;
}

.btn:hover{
box-shadow:10px 10px 20px 0 black;
}


/*background*/

body{
	background-image:url(../../library/img/accueil/fort_n&b.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
}

/*icons*/

img[class="icon"]{
	height: 35px;
	width: auto;
	margin: auto;
	margin-left: 10px;
	margin-right: 10px;

}

img[class="icon small"]{
	height: 20px;
	width: auto;
	margin: auto;
	margin-left: 10px;
	margin-right: 10px;
}

.rounded{
	border-radius: 50%;
}

