/*partie haute de la page*/


.background {
	position:absolute;
	z-index: 1;
	display:flex;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.background img{
	display:flex;
	width: 100%;
	height: 100%;
}

#casque{
	position: absolute;
	z-index:2;
	width:18vw;
    top: 83%;
    left: 41vw;
    display: flex;
    /*transform:rotate(45deg);*/
}

#casque img{
	width:100%;
	height:auto;
}


#corps{
	position: absolute;
	z-index:4;
	width: 100%;
	height: 100%;
	display:flex;
	justify-content: center;
	top: 0;
	left: 0;
}

.column{
	margin-top: 7%;
	width: 23.33vw;
	display:flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: nowrap;
	height: 50%;
	background-color:rgba(255, 165, 0,0);
	border-radius: 3em;
	min-height: 55vh;
}


.explication{
	margin:5%;
	color:transparent;
	font-size: 2em;
	font-family: Capture it;
	text-align: center;
}

.column a{
	background-color: orange;
	border-radius: 50%;
}

.container{
	background-color: orange;
	border-radius: 50%;
	width: 15vw;
	height: 15vw;
	display:flex;
	justify-content: center;
	align-items: center;
}

.container img{
	width: 15vw;
	height: 15vw;
	border-radius: 50%;
}

.transparent{
	opacity: 0;
}

#trail .container{
	background-image:url('/library/img/trail.png');
	background-repeat: no-repeat;
	background-size: cover;
}

#raid .container{
	background-image:url('/library/img/raid.png');
	background-repeat: no-repeat;
	background-size: cover;

}


/*partie basse de la page descr de l'assos*/

#cache{
	background-color:black;
	position:absolute;
	z-index:3;
	top:100%;
	left:0;
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;
	color:white;
}

.ligne_info{
	display:flex;
	align-items: center;
	margin-top: 5%;
}

.ligne_info .container{
	background-color:white;
}

.ligne_info h2{
	padding-left: 5%;
	padding-right: 5%;
}

.contenu_assos{
	padding-left: 5%;
	padding-right: 5%;
}

.contenu_assos h2{
	font-family: segoeui;
	font-size: 1.5em;
}

.container_equipe{
	border-radius: 5em;
	background-color: white;
	display:flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	max-width: 70%;
	min-width: 50%;
}

.container_equipe img{
	height: auto;
	width: 20vH;
	border-radius: 1.5em;
}

.container_img{
	color:black;
	display:flex;
	text-align: center;
	flex-direction: column;
	align-items: center;
	font-size:1.2em;
	font-family: segouei;
	margin:3%;
}

.container_img p{
	line-height: 140%;
	padding-right: 5%;
	padding-left:5%;
}
