#titre_principale{
	height: 45vh;
	width: 100%;
	background: url('/library/img/info_pratiques/info_pratiques.png') no-repeat center center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#titre_principale h1{
	font-size: 80px;
	font-family: segoeui;
	color:white;
	text-shadow: 2px 2px 3px #000;
}

article {
	padding-top: 5%;
	margin-left: 5vw;
	margin-right: 5vw;
	width: 90vw;
	display: flex;
	justify-content: space-between;
}

.column{
	padding-bottom: 5%;
	padding-left: 5%;
	padding-right: 5%;
	width: 40vw;
	background-color: white;
}

.num-1{
	border-top-left-radius: 2em;
	border-bottom-left-radius: 2em;
}

.num-2{
	border-top-right-radius: 2em;
	border-bottom-right-radius: 2em;
}


h2 {
	color: black;
	font-family: raleway;
	font-size: 36px;
	padding-bottom: 10px;
	margin: 40px 0 20px 0;
	border-bottom: 1px solid #eee;
	display:flex;
	justify-content: space-between;
}

p{
	margin-top: 10px 0 10px 0;
	text-align: justify;
	font-family: raleway;
	color: black;
	font-size: 11pt;
}


/*facture ou tableau des prix*/

#facture{
	display:flex;
	justify-content: flex-end;
	flex-direction: column;
	align-items: flex-end;
	background: white;
}

table{
	border-spacing:0;
	margin: 2%;
}

.head{
	background-color: grey;
	border-top-right-radius: 1.5em;
	border-top-left-radius: 1.5em;
	font-family: seguoi;
}

th{
	padding: 1%;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #404040;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #404040;
	font-family: seguoil;
	text-align: right;
	min-width: 100px;
}

.head th{
	text-align: left;
	border-top-style:solid;
	border-top-width: 1px;
	border-color: #404040;

}

#recap_facture .head .premier{
	min-width: 200px;
}

#facture p{
	color:grey;
	font-size: 0.7em;
}
